
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div ng-app="myApp" ng-controller="abilityController">

</div>
@section scripts{
    <script src="~/Scripts/Ability/ctrAbility.js"></script>
}